---
title: Welcome
author: Ivan
date: 2025-05-03
categories: [coding]
tags: [python]
description: Post on Data Class Builders
toc: true
toc-depth: 2
description: "Following the book Fluent python 2022."
---

# Overview of data class buidlers

In [1]:
from typing import NamedTuple
from collections import namedtuple
from dataclasses import dataclass
import inspect

Let's start with a simple example

In [2]:
class Coordinate:
    def __init__(self, lat, lon):
        self.lat = lat
        self.lon = lon

moscow = Coordinate(55.76, 37.62)
location = Coordinate(55.76, 37.62)
print(moscow, moscow==location, sep=" | ")

<__main__.Coordinate object at 0x7d1a7afdff20> | False

In [3]:

Coordinate = namedtuple('Coordinate', 'lat lon')
moscow = Coordinate(lat= 55.76, lon=37.62)
location = Coordinate(55.76, 37.62)
print(moscow, moscow==location, sep=" | ")

Coordinate(lat=55.76, lon=37.62) | True

In [4]:
class Coordinate(NamedTuple):
    lat: float
    lon: float
    def __str__(self):
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >= 0 else 'W'
        return f'{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{we}'
moscow = Coordinate(lat= 55.76, lon=37.62)
print(moscow)

55.8°N, 37.6°E

In [13]:
import typing
class Coordinate(typing.NamedTuple):
    lat: float
    lon: float
    def __str__(self):
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >= 0 else 'W'
        return f'{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{we}'
moscow = Coordinate(lat= 55.76, lon=37.62)
print(moscow)

55.8°N, 37.6°E

In [5]:
@dataclass(frozen=True)
class Coordinate:
    lat: float
    lon: float
    def __str__(self):
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >= 0 else 'W'
        return f'{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{we}'
moscow = Coordinate(lat= 55.76, lon=37.62)
print(moscow)

55.8°N, 37.6°E

In [6]:
inspect.get_annotations(Coordinate)

{'lat': float, 'lon': float}

The `collections.namedtuple` function is a factory that builds subclasses of tuple
enhanced with field names, a class name, and an informative `__repr__`

### Named tuple

In [7]:
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [8]:
delhi_data = ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()
import json
json.dumps(delhi._asdict())

'{"name": "Delhi NCR", "country": "IN", "population": 21.935, "coordinates": [28.613889, 77.208889]}'

In [9]:
type(City)

type

In [11]:
City.__match_args__

('name', 'country', 'population', 'coordinates')